{
  "presets": [
    "@babel/typescript",
    "@babel/react",
    "linaria/babel"
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"],
  "env": {
    "production": {
      "plugins": [
        ["react-remove-properties", { "properties": ["data-testid"] }]
      ]
    }
  }
}
