{
  "presets": [
    "@babel/typescript",
    "@babel/react",
    "linaria/babel"
  ],
  "env": {
    "development": {
      "plugins": [
        "@babel/plugin-syntax-dynamic-import"
      ],
    },
    "production": {
      "plugins": [
        "@babel/plugin-syntax-dynamic-import",        
        ["react-remove-properties", { "properties": ["data-testid"] }]
      ]
    }
  }
}
