{
  "presets": [
    "@babel/typescript",
    "@babel/react",
    "linaria/babel",
    [
      "@babel/env",
      {
        "useBuiltIns": "usage",
        "corejs": "3",
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  // "plugins": ["@babel/plugin-syntax-dynamic-import"],
  "env": {
    "production": {
      "plugins": [
        ["react-remove-properties", { "properties": ["data-testid"] }]
      ]
    }
  }
}
