{
  "extends": [
    "@raddad/eslint-config/react-rules",
    "@raddad/eslint-config/ts-rules"
  ],
  "globals": {
    "PRODUCTION_ENV": false,
    "GRAPHQL_API": false
  },
  "rules": {
    "@typescript-eslint/interface-name-prefix": "warn"
  }
}
